ul
{
   list-style-type: none;
}

label 
{
   float: left;
   width: 8em;
   align: left;
}

input 
{
   width: 15em;
   margin-left: 1em;
   margin-bottom: .5em;
}

#dvd {
   font-weight: bold;
   margin-right: 82px;
}

#lan {
   font-weight: bold;
   margin-right: 100px;
}

#mcard {
   font-weight: bold;
   margin-right: 30px;
}

hr 
{
   color: blue;
}

fieldset 
{
   align: right;
}

textarea 
{
   height: 5em;
   width: 25em;
   font-family: Arial, Helvetica, sans-serif; 
}

/**
 Extra spacing for the computer configuration field set elements.
**/
#cconfig label,input
{
	width: 12em;	
}

#cconfig select
{
	width: 7em;
	align: left;
}

/**
 Make sure that the additional options disregards floats so that it appears at the bottom.
**/
#additionaloptions
{
	clear:both;
}

#additionaloptions input {
    position:relative;
    float:left;
}

/**
 Forces the footer to anchor onto the bottom of the page.
**/
#footer 
{
    font-size: 12px;
    height: 50px;
    width: 100%;
    color: blue;
}