/*
   New Perspectives on HTML and XHTML 5th Edition
   Tutorial 6
   Case Problem 4

   Order Form Style Sheet

   Author: Sandy Walton
   Date:   3/1/2011
 

   Filename:         oform.css
   Supporting Files: 

*/

form                 {margin: 0px}

/*
fieldset             {width: 375px; height: 235px; padding: 5px; margin: 0px 10px 10px 0px; float: left}
*/

.blockLab            {position: relative; font-size: 14px; display: block; margin: 10px 0px}

.blockLab input      {position: absolute; left: 150px}

.blockLab select     {position: absolute; left: 150px; width: 100px}

.blockLab span       {position: absolute; left: 150px}

.blockLab span input {position: relative; left: 0px; top: 0px}

.newline             {float: left; clear: left; display: block; width: 500px}

fieldset {
    float: left;
    height: 235px;
    margin: 0 10px 10px 0;
    padding: 5px;
    width: 375px;
}






